<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bdqn.dao.EmployeeDao">

	<resultMap type="Employee" id="employeeMap">
		
	</resultMap>
	
  	
  	<select id="queryById" resultType="Employee">
  		SELECT eid,ename,epassword,jobname,age,email,phone,remark FROM employee INNER JOIN job ON employee.`jobid`=job.`jobid` HAVING eid=#{eid}
  	</select>
  	<select id="check" resultType="Employee">
  		SELECT eid,ename,epassword,jobname,age,email,phone,remark FROM employee INNER JOIN job ON employee.`jobid`=job.`jobid` HAVING 1=1
  		<if test="eid!=null and eid!=''">
  			and eid LIKE CONCAT('%',#{eid},'%')
  		</if>
  		<if test="ename!=null and ename!=''">
  			and ename LIKE CONCAT('%',#{ename},'%')
  		</if>
  		<if test="jobname!=null and jobname!=''">
  			and jobname LIKE CONCAT('%',#{jobname},'%')
  		</if>
  		<if test="first!=0 and size!=0">
  				limit #{first},#{size}
  		</if>
  		
  	</select>
</mapper>